body{
    background-color: rgb(123, 0, 255);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 2px solid #ffffff;
    text-align: center;
    padding: 5px;
    color:white;
  } 
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  button{
    box-shadow: 0 0 5px rgb(255, 0, 0),
    0 0 25px rgb(255, 0, 0);
  }
  button:hover {
    box-shadow: 0 0 5px rgb(255, 0, 0),
    0 0 25px rgb(255, 0, 0), 0 0 50px rgb(255, 0, 0),
    0 0 100px rgb(255, 0, 0), 0 0 200px rgb(255, 0, 0);
  }
  h1{
    color-style: rgb(255, 255, 255);
  }